<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPCbjoltmAVSjFtQordqNq_m1HPMgWBVU</string>
	<key>GCM_SENDER_ID</key>
	<string>981492813352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ubb.pdae.ptapp.ubbFlutterPtApp</string>
	<key>PROJECT_ID</key>
	<string>ubb-flutter-pt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ubb-flutter-pt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981492813352:ios:a68e5b771565845a522f1d</string>
</dict>
</plist>